:root {
    /* LCH component variables */
  --lch-dark-red: 25.4% 0.144 26.3;      /* 561D25 */
  --lch-orange: 66.9% 0.164 76.1;        /* CE8147 */
  --lch-yellow: 91.3% 0.092 101.3;       /* ECDD7B */
  --lch-light-green: 85.5% 0.066 109.2;  /* D3E298 */
  --lch-pale-green: 90.7% 0.071 111.8;   /* CDE7BE */
  --lch-bg: 98.7% 0.007 95.3;            /* FFFDF5 */
  --lch-dark-green: 46.5% 0.084 101.1;   /* 657138 */ 

  --color-accent: oklch(var(--lch-dark-red));
  --color-accent: oklch(var(--lch-orange));
  --color-background: oklch(var(--lch-bg));
  --color-yellow: oklch(var(--lch-yellow));
  --color-positive: oklch(var(--lch-light-green));
  --color-positive-light: oklch(var(--lch-pale-green));
  --color-dark-green: oklch(var(--lch-dark-green));
}